<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube url:</strong>
  <%= @project.youtube_url %>
</p>

<p>
  <%= @project.youtube_embed_url %>
</p>

<p>
  <strong>Scratch url:</strong>
  <%= @project.scratch_url %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
